<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
    </configSections>
    <!--<aws
  endpointDefinition="string value"
  region="string value"
  profileName="rubab"
  profilesLocation="string value">
        <logging
          logTo="None, Log4Net, SystemDiagnostics"
          logResponses="Never | OnError | Always"
          logMetrics="true | false"
          logMetricsFormat="Standard | JSON"
          logMetricsCustomFormatter="NameSpace.Class, Assembly" />
        <dynamoDB
          conversionSchema="V1 | V2">
            <dynamoDBContext
              tableNamePrefix="string value">
                <alias
                  fromTable="string value"
                  toTable="string value" />
                <map
                  type="NameSpace.Class, Assembly"
                  targetTable="string value">
                    <property
                      name="string value"
                      attribute="string value"
                      ignore="true | false"
                      version="true | false"
                      converter="NameSpace.Class, Assembly" />
                </map>
            </dynamoDBContext>
        </dynamoDB>
        <s3
          useSignatureVersion4="true | false" />
        <ec2
          useSignatureVersion4="true | false" />
        <proxy
          host="string value"
          port="1234"
          username="string value"
          password="string value" />
    </aws>-->
    <aws region="us-east-1" profileName="rubab">
        <logging logTo="Log4Net"/>
    </aws>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
<appSettings>
        <add key="AWSProfileName" value="rubab"/>
        <add key="AWSRegion" value="us-east-1"/>
    </appSettings>
</configuration>

   