        body{
             height: 100%;
        }
        .Background {
            background-color: Black;
            filter: alpha(opacity=90);
            opacity: 0.8;
        }

        .lbl {
            font-size: 16px;
            font-style: italic;
            font-weight: bold;
        }

        .Popup {
            background-color: #FFFFFF;
            border-width: 3px;
            border-style: solid;
            border-color: black;
            padding-top: 10px;
            padding-left: 10px;
            width: 500px;
            height: 350px;
        }
        .togglemenu {
            width: 30px;
            height: 4px;
            background-color: white;
            margin-top: 5px;
        }

        .mainheading {
            color: white;
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 30px;
            line-height: 50px;
        }

        .tablecolumn {
            width: 250px;
            border: 1px solid #ddd;
            text-align: left;
            padding-top: 5px;
        }

        .tablerow {
            border: 1px solid #ddd;
        }

        .tablecol {
            font-weight: Bold;
            width: 10%;
            border: 1px solid #ddd;
            text-align: center;
        }
        .tablecolu {
            font-weight: Bold;
            width: 5%;
            border: 1px solid #ddd;
            text-align: left;
        }

        .active {
            background-color: lightgray;
        }
        .tooltip {
    position: relative;
    display: inline-block;
}
.tooltiptext {
    visibility: visible;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltiptext {
    visibility: visible;
    opacity: 1;
}

input::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}